/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family and color */
body {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #F2FAF8;
}

/* Header styles */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  background-color: #076D54;
  background-image: url('Irfan Consulting Ltd-1 (1).png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: 1;
}

.header img {
  max-width: 100%;
}

.menu-toggle {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #F2FAF8;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    margin-left: 20px;
  }
  
  nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #076D54;
    transition: all 0.3s ease;
    z-index: 2;
  }
  
  nav ul {
    flex-direction: column;
    text-align: center;
  }
  
  nav li {
    margin: 20px 0;
  }
  
  .menu-toggle.active + nav {
    left: 0;
  }
}
